{% extends "main/index.html" %}
{% load static %}

{% block style %} 
    <script src="{% static 'studio/js/studio.js' %}" defer></script> 
{% endblock %}

{% block main %}
<main>
    <a href="{% url 'studio:statistics' %}" class="get-back-url"><h3>Get Back</h3></a>
    <div class="brand">
        <h1>Account {{ request.user.username }}</h1>
    </div>
    
    {% if messages %} {% for m in messages %} <p>{{m}}</p> {% endfor %} {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" name="user-edit" value="1">Save</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="user-delete" id="user-delete" value="1">Delete</button>
    </form>

</main>
{% endblock %}